
// --- mainSection
.aboutUs{
    width: 100%;
    max-width: 1200px;
    padding-bottom: 40px;
    margin: auto;
    .aboutUsBlock{
        display: flex;
        flex-direction: column;
        .aboutUsPart{
            margin-bottom: 60px;
            // aboutUsTitle 標題
            .aboutUsTitle{
                text-align: center;
                margin: 0 auto;
                margin-bottom: 30px;
                position: relative;
                .mainTitle{
                    font-size: $fzMiddle;
                    font-weight: bold;
                    text-shadow: $importantFontShadow;
                    color: $fcGold;
                    margin-bottom: 5px;
                }
                .subTitle{
                    font-size: $fzSmall;
                }
                @media all and (max-width: $medium){
                    margin-bottom: 30px;
                }
            }
            // information 關於我們的資訊
            .aboutUsInfoBlock{
                width: 100%;
                margin: auto;;
                background-color: rgba($color: #fff, $alpha: .65);
                border-radius: $radius; 
                padding: 20px 40px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .aboutUsInfo{
                    background-color: rgba($color: #fff, $alpha: .4);
                    border: 1px solid rgba($color: #000000, $alpha: .05);
                    border-radius: $radius;
                    width: 100%;
                    padding:20px 0px;
                    &:last-child{
                        margin-bottom: unset;
                    }
                    &:nth-child(2){
                        justify-content: center;
                        .contentPart:nth-child(1){
                            display: none;
                        }
                    }
                    .aboutUsContent{
                        display: flex;
                        justify-content: center;
                        .contentPart{   
                            width: 50%;
                            min-height: 400px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            &:nth-child(1){
                                border-right: 1px solid rgba($color: #000000, $alpha: .05);
                            }
                            .aboutUsText{
                                line-height: $lineHeight;
                                text-align: center;
                                .mapInfo{
                                    margin-bottom: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    &:nth-child(1){
                                        flex-direction: row;
                                    }
                                     // studio 工作室 商標和名子
                                    .studioLogo{
                                        width: 155px;
                                        transform: translateX(5px);
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .studioName{
                                        width: 180px;
                                        text-align: center;
                                        img{
                                            width: 100%;
                                        }
                                        p{
                                            font-weight: bold;
                                            text-shadow: $fontShadow;
                                            line-height: 1;
                                            transform: translateX(-15px);
                                        }
                                    }
                                    .mapInfoTitle{
                                        margin-bottom: 4px;
                                        font-weight: bold;
                                        color: $fcGold;
                                        text-shadow: $importantFontShadow;
                                        span{
                                            font-size: $fzInfo * .875;
                                            color:$fcGold;
                                            margin-left: 5px;
                                        } 
                                    }
                                    p{
                                        span{
                                            font-size: $fzInfo * .875;
                                            margin:0 2px ;
                                        }
                                        .days{
                                            margin: 0;
                                        }
                                    }
                                    &:last-child{
                                        margin-bottom: unset;
                                    }
                                }
                            }
                            // studioOfficeBlock 工作室環境
                            .studioOfficeBlock{
                                width: 85%;
                                border-radius: $radius;
                                box-shadow: $slightShadow;
                                display: flex;
                                flex-direction: column;
                                overflow: hidden;
                                position: relative;
                                &::before,&::after{
                                    content: "";
                                    width: 100%;
                                    position: absolute;
                                    z-index: 1;
                                    background-color: rgba($color: #fff, $alpha: .8);
                                }
                                &::before{
                                    height: 20px;
                                    top: 0;
                                }
                                &::after{
                                    height: 40px;
                                    bottom: 0;
                                }
                                .studioOfficeContent{
                                    height: 400px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: relative;
                                    .studioOfficePart{
                                        width: 100%;
                                        min-width: 400px;
                                        position: absolute;
                                        top: 0;
                                        opacity: 0;
                                        // visibility: hidden;
                                        transform: translateX(40px);
                                        transition: transform 1s, opacity 1s;
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .active{
                                        opacity: 1;
                                        // visibility: visible;
                                        transform: translateX(0px);
                                    }
                                }
                                .studioControlBlock{
                                //     width: 100%;
                                //     height: 60px;
                                //     background-color: rgba($color: #fff, $alpha: .8);
                                //     align-self: center;
                                //     position: absolute;
                                //     bottom: 0;
                                //     display: flex;
                                //     justify-content: center;
                                //     align-items: center;
                                //     .studioControls{
                                //         display: flex;
                                //         .controlPart{
                                //             background-color: #888;
                                //             width: 13px;
                                //             height: 13px;
                                //             border-radius: 50%;
                                //             margin-right: 4px;
                                //             &:last-child{
                                //                 margin-right: unset;
                                //             }
                                //             &:hover{
                                //                 background-color: #aaa;
                                //             }                                            
                                //         }
                                //     }
                                }
                            }
                        }
                        @media all and (max-width: $medium){
                            .contentPart{
                                width: 45%;
                                min-height: 340px;
                                &:nth-child(2){
                                    width: 55%;
                                }
                                .studioOfficeBlock{
                                    width: 90%;
                                }
                            }
                        }
                        @media all and (max-width: $small){
                            flex-direction: column;
                            align-items: center;
                            .contentPart{
                                width: 100%;
                                margin-bottom: 20px;
                                &:nth-child(1){
                                    border-right: unset;
                                }
                                &:nth-child(2){
                                    width: 100%;
                                    max-width: 500px;
                                    margin-bottom: 0px;
                                }
                                .studioOfficeBlock{
                                    .studioOfficeContent{
                                        height: 450px;
                                        .studioOfficePart{
                                            width: 450px;
                                        }
                                    }
                                }
                            }
                        }
                        @media all and (max-width: $cellPhone){
                            .contentPart{
                                .studioOfficeBlock{
                                    .studioOfficeContent{
                                            height: 350px;
                                        .studioOfficePart{
                                            width: 350px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // Instagram 關於我們的Ig
                    .igWallsBlock{
                        display: flex;
                        justify-content: center;
                        .igWallsContent{   
                            .igWalls{
                                width: 900px;
                                display: flex;
                                .igWallsImage{
                                    padding: 5px;
                                    filter: brightness(.9);
                                    transition:.25s;
                                    img{
                                        width: 100%;
                                        box-shadow: $slightShadow;
                                    }
                                    &:hover{
                                        filter: brightness(1.025);
                                    }
                                }
                                .igWallsPart{
                                    width: 100%;
                                }
                                &:nth-child(1){
                                    .igWallsPart{
                                        &:nth-child(2){
                                            display: flex;
                                            flex-wrap: wrap;
                                            .igWallsImage{
                                                width: 50%;
                                            }
                                        }
                                    }
                                }
                                &:nth-child(2){
                                    .igWallsPart{
                                        display: flex;
                                        .igWallsImage{
                                            width: 25%;
                                        }
                                    }
                                }
                                @media all and (max-width:$medium){
                                    width: 720px;
                                }
                                @media all and (max-width:$small){
                                    width: 450px;
                                    flex-direction: column;
                                }
                                @media all and (max-width:$smaller){
                                    width: 350px;
                                }
                            } 
                        }
                    }
                    @media all and (max-width: $small){
                        &:nth-child(3){
                            .aboutUsContent{
                                position: relative;
                            }
                            .contentPart{
                                &:nth-child(1){
                                    padding-top: 50px;
                                }
                                &:nth-child(2){
                                    border-top: 2px solid rgba($color: #000000, $alpha: .1);
                                    margin-bottom: 0;
                                    .aboutUsTitle{
                                        position: absolute;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                @media all and (max-width: $medium){
                    padding: 10px;
                }
            }
        }        
    }
}