
// --- mainSection
.collections{
    width: 100%;
    max-width: 1200px;
    padding-bottom: 40px;
    margin: auto;
    // carouselBlock
    .carouselBlock{
        width: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
        border-radius: $radius;
        border: 1px solid rgba($color: #000000, $alpha: .1);
        box-shadow: $itemsShadow;
        // controlBock 控制
        .controlBlock{
            width: 120px;
            height: 60px;
            display: flex;
            background-color: rgba(254,235,227,.85);
            position: absolute;
            z-index: 2;
            left:50%;
            transform: translateX(-70%);
            bottom: 0;
            cursor: pointer;
            .arrowLine{
                width: 30px;
                height: 8px;
                background-color: #fff;
                display: block;
                transition: .5s;
            }
            .leftArrow,.rightArrow{
                border: 1px solid rgba($color: #000000, $alpha: .1);
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }
            .leftArrow{
                padding-right: 10px;
                .arrowLine:nth-child(1){
                    box-shadow: -1px 2px 2px rgba($color: #000000, $alpha: .1);
                    transform: rotate(-45deg) translateX(5px);
                }
                .arrowLine:nth-child(2){
                    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
                    transform: rotate(45deg) translateX(5px);
                }
                &:hover{
                    .arrowLine:nth-child(2){
                        box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: .25);
                    }
                }
            }
            .rightArrow{
                padding-left: 10px;
                .arrowLine:nth-child(1){
                    box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: .1);
                    transform: rotate(45deg) translateX(-5px);
                }
                .arrowLine:nth-child(2){
                    box-shadow: -1px 2px 4px rgba($color: #000000, $alpha: .1);
                    transform: rotate(-45deg) translateX(-5px);
                }
                &:hover{
                    .arrowLine:nth-child(2){
                        box-shadow: -2px 2px 4px rgba($color: #000000, $alpha: .25);
                    }
                }  
            }
        }
        // carouselItems 輪播內容
        .carouselsContent{
            width: 100%;
            height: 550px;
            position: relative;
            .active{
                z-index: 1;
                opacity: 1;
                visibility: visible;
            }
            .carouselItems{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                position: absolute;
                top: 0;
                background-color: $fcHover;
                // carouselContent
                .itemContent{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .itemTitle{
                        margin-bottom: 30px;
                        text-align: center;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(20%);
                        transition: .5s ease-in-out;
                        .mainTitle{
                            font-size: 36px;
                            color:#fff;
                            text-shadow: $titleShadow;
                            font-weight: bold;
                            margin-bottom: 5px;
                            span{
                                margin-left: 4px;
                                font-size: 30px;
                                color: #fff;
                                &::before{
                                    content: "";
                                    width: 4px;
                                    height: 20px;
                                    margin-right: 4px;
                                    display: inline-block;
                                    box-shadow: $titleShadow;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    .itemText{
                        text-align: center;
                        line-height: $lineHeight;
                        font-size: $fzSmall;
                        margin-bottom: 45px;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(20%);
                        transition: .5s ease-in-out;
                    }
                    .itemFooter{
                        font-size: $fzInfo;
                        font-weight: bold;
                        color: $fcGold;
                        margin-bottom: 10px;
                        position: absolute;
                        bottom: 0;
                        span{
                            margin-left: 2px;
                            color: $fcGold;
                            font-weight: bold;
                            text-shadow: $importantFontShadow;
                        }
                    }
                }
                // carouselImage
                .itemImage{
                    width: 50%;
                    height: 90%;
                    align-self: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    overflow: hidden;
                    position: relative;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateX(20%);
                    transition: .5s ease-in-out;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: $imageCover;
                        position: absolute;
                        top: 0;
                        z-index: 1;
                    }
                }
                .itemImage_01{
                    background-image: url('../img/pagination/collections/carousel/carouselImage_01.jpg');
                }
                .itemImage_02{
                    background-image: url('../img/pagination/collections/carousel/carouselImage_02.jpg');
                }
                .itemImage_03{
                    background-image: url('../img/pagination/collections/carousel/carouselImage_03.jpg');
                }
            }
            .active.carouselItems .itemContent .itemTitle,
            .active.carouselItems .itemContent .itemText{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            .active.carouselItems .itemImage{
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
        }

    }
    // collections
    .collectionsBlock{
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .collectionItem:nth-child(even){
            transform: translateY(60px);
        }
        .collectionItem{
            width: 280px;
            height: 360px;
            overflow: hidden;
            position: relative;
            margin-bottom: 40px;
            border-radius: $radius;
            background-color: rgba($color: #fff, $alpha: .65);
            box-shadow: $itemsShadow;
            .collectionImage{
                margin-top: 20px;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: transform .5s;
                }
            }
            .collectionTitle{
                width: 100%;
                padding: 10px 0;
                background-color: rgba($color: #fff, $alpha: .65);
                position: absolute;
                bottom: 65px;
                transition: bottom .5s;
                .mainTitle{
                    margin-bottom: 6px;
                    padding-left: 10px;
                    font-size: $fzMiddle / 1.2;
                    font-weight: bold;
                    text-shadow: $titleShadow;
                    color: rgba($color: #fff, $alpha: 1);
                }
                .subTitle{
                    padding-left: 20px;
                    font-weight: bold;
                    text-shadow: $importantFontShadow;
                }
            }
            .collectionDescription{}

            &:hover{
                .collectionImage{
                    img{
                        transform: scale(1.1);
                    }
                }
                .collectionTitle{
                    bottom:0px;
                }  
            } 
        }
    }
}


