
// --- mainSection
.collections{
    width: 100%;
    max-width: 1200px;
    padding-bottom: 40px;
    margin: auto;
    // carouselCollectionsBlock
    .carouselCollections{
        .carouselTitleBlock{
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            .mainTitle{
                font-size:$fzMiddle;
                font-weight: bold;
                text-shadow: $importantFontShadow;
                color: rgba($color: $fcGold, $alpha: 1.0);
                margin-bottom: 5px;
            }
            .subTitle{
                font-size: $fzInfo;
            }
        }
        .carouselBlock{
            width: 100%;
            padding:20px;
            margin: auto;
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            // carouselItems 輪播內容
            .carouselsContent{
                width: 100%;
                height: 550px;
                position: relative;
                box-shadow: $itemsShadow;
                // controlBock 控制
                .controlBlock{
                    width: 120px;
                    height: 60px;
                    display: flex;
                    background-color: rgba(254,235,227,.85);
                    position: absolute;
                    z-index: 2;
                    left:50%;
                    transform: translateX(-70%);
                    bottom: 0;
                    cursor: pointer;
                    .arrowLine{
                        width: 30px;
                        height: 8px;
                        background-color: #fff;
                        display: block;
                        transition: .5s;
                    }
                    .leftArrow,.rightArrow{
                        border: 1px solid rgba($color: #000000, $alpha: .1);
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
        
                    }
                    .leftArrow{
                        padding-right: 10px;
                        .arrowLine:nth-child(1){
                            box-shadow: -1px 2px 2px rgba($color: #000000, $alpha: .1);
                            transform: rotate(-45deg) translateX(5px);
                        }
                        .arrowLine:nth-child(2){
                            box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
                            transform: rotate(45deg) translateX(5px);
                        }
                        &:hover{
                            .arrowLine:nth-child(2){
                                box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: .25);
                            }
                        }
                    }
                    .rightArrow{
                        padding-left: 10px;
                        .arrowLine:nth-child(1){
                            box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: .1);
                            transform: rotate(45deg) translateX(-5px);
                        }
                        .arrowLine:nth-child(2){
                            box-shadow: -1px 2px 4px rgba($color: #000000, $alpha: .1);
                            transform: rotate(-45deg) translateX(-5px);
                        }
                        &:hover{
                            .arrowLine:nth-child(2){
                                box-shadow: -2px 2px 4px rgba($color: #000000, $alpha: .25);
                            }
                        }  
                    }
                }
                .active{
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;
                }
                .carouselItems{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-around;
                    position: absolute;
                    top: 0;
                    background-color: $fcHover;
                    // carouselContent
                    .itemContent{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        .itemTitle{
                            margin-bottom: 30px;
                            text-align: center;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(20%);
                            transition: .5s ease-in-out;
                            .mainTitle{
                                font-size: 36px;
                                color:#fff;
                                text-shadow: $titleShadow;
                                font-weight: bold;
                                margin-bottom: 5px;
                                span{
                                    margin-left: 4px;
                                    font-size: 30px;
                                    color: #fff;
                                    &::before{
                                        content: "";
                                        width: 4px;
                                        height: 20px;
                                        margin-right: 4px;
                                        display: inline-block;
                                        box-shadow: $titleShadow;
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                        .itemText{
                            text-align: center;
                            line-height: $lineHeight;
                            font-size: $fzSmall;
                            margin-bottom: 45px;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(20%);
                            transition: .5s ease-in-out;
                        }
                        .itemFooter{
                            font-size: $fzInfo;
                            font-weight: bold;
                            color: $fcGold;
                            margin-bottom: 10px;
                            position: absolute;
                            bottom: 0;
                            span{
                                margin-left: 2px;
                                color: $fcGold;
                                font-weight: bold;
                                text-shadow: $importantFontShadow;
                            }
                        }
                    }
                    // carouselImage
                    .itemImage{
                        width: 50%;
                        height: 90%;
                        align-self: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom;
                        box-shadow: $slightShadow;
                        overflow: hidden;
                        position: relative;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateX(20%);
                        transition: .5s ease-in-out;
                        &::before{
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: $imageCover;
                            position: absolute;
                            top: 0;
                            z-index: 1;
                        }
                    }
                    .itemImage_01{
                        background-image: url('../img/pagination/collections/carousel/carouselImage_01.jpg');
                    }
                    .itemImage_02{
                        background-image: url('../img/pagination/collections/carousel/carouselImage_02.jpg');
                    }
                    .itemImage_03{
                        background-image: url('../img/pagination/collections/carousel/carouselImage_03.jpg');
                    }
                }
                .active.carouselItems .itemContent .itemTitle,
                .active.carouselItems .itemContent .itemText{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
                .active.carouselItems .itemImage{
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }
            @media all and (max-width: $large){
                .carouselsContent{
                    height: 520px;
                }
            }
            @media all and (max-width: $medium){
                .carouselsContent{
                    height: 450px;
                }
            }
            @media all and (max-width: $small){
                .carouselsContent{
                    height: 760px;
                    .controlBlock{
                        left: 0;
                        transform: translateX(0);
                    }
                    .carouselItems{
                        padding: 20px 0 10px;
                        flex-direction: column;
                        align-items: center;
                        .itemContent{
                            width: 100%;
                            height: 90%;
                            order: 2;
                            .itemTitle{
                                margin-bottom: 20px;
                            }
                            .itemText{
                                margin-bottom: 30px;
                            }
                            .itemFooter{
                                margin-bottom: 0px;
                            }
                        }
                        .itemImage{
                            width: 80%;
                            height: 120%;
                        }
                    }                    
                }
            }
            @media all and (max-width: $smaller){
                .carouselsContent{
                    height: 600px;
                    .controlBlock{
                        width: 100px;
                        height: 50px;
                    }
                    .carouselItems{
                        .itemContent{
                            transform: translateY(-30px);
                            .itemTitle{
                                margin-bottom: 10px;
                                .mainTitle{
                                    font-size: $fzLarge;
                                    span{
                                        font-size: $fzMiddle;
                                    }
                                }
                            }
                            .itemText{
                                margin-bottom: 20px;
                                font-size: $fzInfo;
                            }
                            .itemFooter{
                                margin-bottom: 15px;
                            }
                        }
                        .itemImage{
                            width: 85%;
                            height: 75%;
                        }
                    }                    
                }
            }
            @media all and (max-width:$cellPhone) {
                .carouselsContent{
                    height: 540px;
                    .carouselItems{
                        .itemImage{
                            width: 85%;
                            height: 65%;
                        }
                    }                  
                }
            }
        }
    }

    .collectionsBlock{
        margin-top: 120px;
        // collectionsTitleBlock
        .collectionsTitleBlock{
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            .mainTitle{
                font-size:$fzMiddle;
                font-weight: bold;
                text-shadow: $importantFontShadow;
                color: rgba($color: $fcGold, $alpha: 1.0);
                margin-bottom: 5px;
            }
            .subTitle{
                font-size: $fzInfo;
            }
        }
        // collections 卡片式高低排列
        .collectionCardsBlock{
            width: 100%;
            margin-top: 20px;
            padding: 10px 10px 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            .collectionItem{
                width: 280px;
                height: 360px;
                overflow: hidden;
                position: relative;
                margin-bottom: 40px;
                border-radius: $radius;
                background-color: rgba($color: #fff, $alpha: .65);
                box-shadow: $itemsShadow;
                &:nth-child(even){
                    transform: translateY(60px);
                }
                .collectionImage{
                    margin-top: 20px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        transition: transform .5s;
                    }
                }
                .collectionTitle{
                    width: 100%;
                    padding: 10px 0;
                    background-color: rgba($color: #fff, $alpha: .65);
                    position: absolute;
                    bottom: 65px;
                    transition: bottom .5s;
                    .mainTitle{
                        margin-bottom: 6px;
                        padding-left: 10px;
                        font-size: $fzMiddle / 1.2;
                        font-weight: bold;
                        text-shadow: $titleShadow;
                        color: rgba($color: #fff, $alpha: 1);
                    }
                    .subTitle{
                        padding-left: 20px;
                        font-weight: bold;
                        text-shadow: $importantFontShadow;
                    }
                }
                &:hover{
                    .collectionImage{
                        img{
                            transform: scale(1.1);
                        }
                    }
                    .collectionTitle{
                        bottom:0px;
                    }  
                } 
            }
            @media all and (max-width: 1199px) {
                padding: 10px;
                justify-content: center;
                .collectionItem{
                    margin: 0 20px 25px;
                    &:nth-child(even){
                        transform: translateY(0px);
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
            @media all and (max-width: $large) {
                padding: 0;
            }
            @media all and (max-width: $medium) {
                .collectionItem{
                    margin: 0 10px 25px;
                }
            }
            @media all and (max-width: 916px) {
                .collectionItem{
                    width: 240px;
                    height: 320px;
                }
            }
            @media all and (max-width: 796px) {
                .collectionItem{
                    width: 220px;
                    height: 300px;
                }
            }
            @media all and (max-width: $small) {
                .collectionItem{
                    width: 280px;
                    height: 360px;
                    &:last-child{
                        display: block;
                    }
                }
            }
            @media all and (max-width: 616px) {
                .collectionItem{
                    width: 240px;
                    height: 300px;
                }
            }
            @media all and (max-width: $smaller) {
                margin-top: 60px;
                .collectionItem{
                    width: 300px;
                    height: 380px;
                }
            }
        }

    }
}


