
// --- mainSection
.collections{
    width: 100%;
    max-width: 1200px;
    padding-bottom: 40px;
    margin: auto;
    // sliderBlock
    .carouselBlock{
        width: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
        border-radius: $radius;
        border: 1px solid rgba($color: #000000, $alpha: .1);
        box-shadow: $itemsShadow;
        // controlBock 控制
        .controlBlock{
            width: 120px;
            height: 60px;
            display: flex;
            background-color: rgba(254,235,227,.85);
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0;
            .arrowLine{
                width: 30px;
                height: 8px;
                background-color: #fff;
                display: block;
                cursor: pointer;
            }
            .leftArrow,.rightArrow{
                border: 1px solid rgba($color: #000000, $alpha: .1);
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .leftArrow{
                padding-right: 10px;
                .arrowLine:nth-child(1){
                    box-shadow: -1px 2px 2px rgba($color: #000000, $alpha: .1);
                    transform: rotate(-45deg) translateX(5px);
                }
                .arrowLine:nth-child(2){
                    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
                    transform: rotate(45deg) translateX(5px);
                }
            }
            .rightArrow{
                padding-left: 10px;
                .arrowLine:nth-child(1){
                    box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: .1);
                    transform: rotate(45deg) translateX(-5px);
                }
                .arrowLine:nth-child(2){
                    box-shadow: -1px 2px 4px rgba($color: #000000, $alpha: .1);
                    transform: rotate(-45deg) translateX(-5px);
                }   
            }
        }
        // carouselItems 輪播內容
        .carouselItems{
            width: 100%;
            height: 550px;
            display: flex;
            justify-content: space-around;
            background-color: $fcHover;
            // carouselContent
            .itemContent{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                .itemTitle{
                    font-size: 36px;
                    color:#fff;
                    text-shadow: $titleShadow;
                    font-weight: bold;
                    margin-bottom: 5px;
                    span{
                        margin-left: 4px;
                        font-size: 30px;
                        color: #fff;
                        &::before{
                            content: "";
                            width: 4px;
                            height: 20px;
                            margin-right: 4px;
                            display: inline-block;
                            box-shadow: $titleShadow;
                            background-color: #fff;
                        }
                    }
                }
                .itemSubTitle{
                    margin-bottom: 30px;
                }
                .itemText{
                    text-align: center;
                    line-height: $lineHeight;
                    font-size: $fzSmall;
                    margin-bottom: 45px;
                }
                .itemFooter{
                    font-size: $fzInfo;
                    color: $fcGold;
                    margin-bottom: 10px;
                    position: absolute;
                    bottom: 0;
                    span{
                        margin-left: 2px;
                        color: $fcGold;
                        font-weight: bold;
                        text-shadow: $importantFontShadow;
                    }
                }
            }
            // carouselImage
            .itemImage{
                width: 50%;
                height: 90%;
                align-self: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                overflow: hidden;
                position: relative;
                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: $imageCover;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }
            }
            .itemImage_01{
                background-image: url('../img/pagination/collections/carousel/carouselImage_01.jpg');
            }
        }

    }
    // collections
    .collectionsBlock{
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .collectionItem:nth-child(even){
            transform: translateY(60px);
        }
        .collectionItem{
            width: 280px;
            height: 360px;
            overflow: hidden;
            position: relative;
            margin-bottom: 40px;
            border-radius: $radius;
            background-color: rgba($color: #fff, $alpha: .65);
            box-shadow: $itemsShadow;
            .collectionImage{
                margin-top: 20px;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: transform .5s;
                }
            }
            .collectionTitle{
                width: 100%;
                padding: 10px 0;
                background-color: rgba($color: #fff, $alpha: .65);
                position: absolute;
                bottom: 65px;
                transition: bottom .5s;
                .mainTitle{
                    margin-bottom: 6px;
                    padding-left: 10px;
                    font-size: $fzMiddle / 1.2;
                    font-weight: bold;
                    text-shadow: $titleShadow;
                    color: rgba($color: #fff, $alpha: 1);
                }
                .subTitle{
                    padding-left: 20px;
                    font-weight: bold;
                    text-shadow: $importantFontShadow;
                }
            }
            .collectionDescription{}

            &:hover{
                .collectionImage{
                    img{
                        transform: scale(1.1);
                    }
                }
                .collectionTitle{
                    bottom:0px;
                }  
            } 
        }
    }
}


