<footer class="footer">
    <div class="socialMediasBlock border">
        <div class="socialMedia border">
            <a href="#">
                <img src="./img/socialMedia/socialMedia_01.png" alt="">
            </a>
        </div>
        <div class="socialMedia border">
            <a href="#">
                <img src="./img/socialMedia/socialMedia_02.png" alt="">
            </a>
        </div>
        <div class="socialMedia border">
            <a href="#">
                <img src="./img/socialMedia/socialMedia_03.png" alt="">
            </a>
        </div>
        <div class="socialMedia border">
            <a href="#">
                <img src="./img/socialMedia/socialMedia_04.png" alt="">
            </a>
        </div>
    </div>
    <div class="btnGo">
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <div class="footerInfo">
        <p>Copyright © 2020 JieYuan All Rights Reserved.</p>
        <!-- <p class="contactMe">ContactMe</p> -->
    </div>
</footer>