<header class="fullHeader">
    <div class="navBlock">
        <h1>
            <div class="logo">
                <a href="">
                    <!-- <img src="./img/element/logoDark.png"> -->
                    <img src="./img/element/logoDark_le.png">
                </a>
            </div>
        </h1>
        <nav class="nav">
            <ul>
                <li><a href="">作品</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">服務</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">活動</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">關於</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">教學</a><img src="./img/header/balloon.png" class="navHover"></li>
            </ul>
        </nav>
        <div class="hamburger hamburger--spin">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </div>
</header>
<header class="phoneHeader">
    <div class="navBlock">
        <h1>
            <div class="logo">
                <a href="">
                    <!-- <img src="./img/element/logoDark.png"> -->
                    <img src="./img/element/logoDark_le.png">
                </a>
            </div>
        </h1>
        <nav class="nav">
            <ul>
                <li><a href="">作品</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">服務</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">活動</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">關於</a><img src="./img/header/balloon.png" class="navHover"></li>
                <li><a href="">教學</a><img src="./img/header/balloon.png" class="navHover"></li>
            </ul>
        </nav>
    </div>
</header>