@import "./base/var.scss";


// firstScreen
.banner{
    width: 100%;
    // height: 980px;
    height: 100vh;
    position: relative;
    background-image: url(../img/banner/bannerIndex01.jpg);
    background-size: cover;
    background-attachment: fixed;
    .webCenterBlock{
        width: 100%;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.2) 100%);
        .webNameBlock{
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            z-index: 2;
            .logo{
                // width: 150px; // Idea
                // margin:20px 20px 0 0; // Idea
                width: 320px; // Le
                transform: translateY(-30px); // Le
                margin:0 10px 0 0; // Le
                img{
                    width: 100%;
                }
            }
            .webName{
                img{
                    // width: 360px; // Idea
                    width: 400px; // Le
                }
                p{
                    font-size: $fzSmall;
                    font-weight: bold;
                    color: #eee;
                    text-shadow: $slightShadow;
                    padding-left: 45px;
                    margin-top: 2px;
                }
            }
        }
    }
    @media all and (max-width:$medium) {
        height: 768px;
    }
    @media all and (max-width:$small) {
        height: 100%;
        padding-top: 100%;
        background-attachment: unset;
        .webCenterBlock{
            .webNameBlock{
                .logo{
                    // width: 120px; // Idea
                    width: 240px; // Le
                    transform: translateY(-20px); // Le
                }
                .webName{
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }
    @media all and (max-width:$smaller) {
        .webCenterBlock{
            .webNameBlock{
                .logo{
                    // width: 100px; // Idea
                    width: 160px; // Le
                    transform: translateY(0px); // Le
                    margin-right: 10px;
                }
                .webName{
                    img{
                        width: 260px;
                    }
                }
            }
        }
    }
    @media all and (max-width:$cellPhone) {
        height: 100vh;
        background-position: -180px center;
        .webCenterBlock{
            .webNameBlock{
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                .logo{
                    width: 300px;
                    margin: 0;
                    margin-bottom: 20px;
                }
                .webName{
                    align-self: flex-end;
                    margin-right: 30px;
                    img{
                        width: 250px;
                    }
                }
            }
        }
    }
}

// mainSection
.content{
    // background-color: rgba($color: #fff, $alpha: .15);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    .sectionBlock{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 80px;
        &:first-child{
            padding-top: 40px;
            .sectionTitleBlock{
                .titleFrame_03{
                    left: -35px;
                }
                .balloonsBlock{
                    right: 15px;
                }
            }
        }
        &:nth-child(2){
            .sectionTitleBlock{
                .titleFrame_03{
                    left: -50px;
                }
                .balloonsBlock{
                    right: 15px;
                }
            }
        }
        // sectionTitleBlock 各個部分的標題
        .sectionTitleBlock{
            min-width: 165px;
            padding: 20px 0;
            margin:30px 0 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .titleBlock{
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .mainTitle{
                    color: #666;
                    font-size: $fzLarge;
                    margin-right: 5px;
                }
                .subTitle{
                    font-size: $fzMiddle;
                }
            }
            .titleFrame_03{
                width: 150px;
                position: absolute;
                bottom: -6px;
                left: -70px;
                // transform: translate(-50px,-15px);
            }
            .balloonsBlock{
                display: flex;
                align-items: center;
                position: absolute;
                bottom: -15px;
                right: 15px;
                .ballBlue{
                    width: 18px;
                }
                .ballPink{
                    width: 20px;
                    transform: translateY(-5px);
                }
                .ballYellow{
                    width: 22px;
                }
            }
            .titleFrame_02{
                width: 70px;
                position: absolute;
                top: 20px;
                right: -65px;
                // transform: translate(110px,-90px);
            }
        }
        // 廣告強打LatestBanner
        .latestAds{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            overflow: hidden;
            .adsBlock{
                width: 100%;
                max-width: 1200px;
                height: 360px;
                position: relative;
                border: 1px solid rgba($color: #000000, $alpha: .1);
                overflow: hidden;
                .adsWholeBlock{
                    width: 300%;
                    height: 100%;
                    display: flex;
                    position: relative;
                    .adsPart{
                        width:34%;
                        height: 100%;
                        position: relative;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                        .adsContent{
                            // width: 30%;
                            margin: 4% 0 0 10%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-weight: bold;
                            text-align: center;
                            position: absolute;
                            z-index: 2;
                            top: 0;
                            left: 0;
                            .adsTitle{
                                font-size: $fzMiddle * 1.25;
                                text-shadow: $titleShadow;
                                p{
                                    color: rgba(255,255,255,1);
                                }
                            }
                            .adsText{
                                margin:15px 0 45px 0;
                                font-size: $fzSmall;
                                text-shadow: $fontShadow;
                                line-height: $lineHeight;
                                p{
                                    color: rgba(255,255,255,1);
                                }
                            }
                        }
                    }
                }
                @media all and (max-width: 1219px) {
                    max-width: 960px;
                    .adsWholeBlock{
                        .adsPart{
                            img{
                                width: unset;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }

                }
                @media all and (max-width: $medium) {
                    max-width: 750px;
                }
                @media all and (max-width: $small) {
                    max-width: 560px;
                    height: 320px;
                    .adsWholeBlock{
                        .adsPart{
                            display: flex;
                            justify-content: center;
                            img{
                                height: 400px;
                            }
                            .adsContent{
                                width: 100%;
                                margin: 10% 0 0;
                                left: 50%;
                                transform: translateX(-50%);
                                .adsText{
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
                @media all and (max-width: $smaller) {
                    max-width: 400px;
                    .adsWholeBlock{
                        .adsPart{
                            .adsContent{
                                margin: 15% 0 0;
                            }
                        }
                    }
                }
                @media all and (max-width: $cellPhone) {
                    max-width: 360px;
                    height: 360px;
                    .adsWholeBlock{
                        .adsPart{
                            img{
                                height: 360px;
                            }
                        }
                    }
                }
                // adsControls
                .adsControlsBlock{
                    width: 100%;
                    height: 80px;
                    background-image: url(../img/index/latestAds/latestAdBgImage.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: bottom;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    .adsControls{
                        margin: 5px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .controlPart{
                            background-color: #888;
                            width: 13px;
                            height: 13px;
                            margin-right:5px;
                            border-radius: 50%;
                            cursor: pointer;
                            &:last-child{
                                margin-right: 0px;
                            }
                            &:hover{
                                background-color: #bbb;
                            }                          
                        }
                        .active{
                            background-color: #bbb;
                        }
    
                    }
                    @media all and (max-width: 1219px) {
                        align-items: flex-end;
                        .adsControls{
                            margin: 5px 0 10px;
                        }
                    }
                    @media all and (max-width: $medium) {
                        background-size: cover;
                    }
                }
            }
        }
        // 作品Collections
        .collections{
            width: 100%;
            // 外層outside     
            .worksOut{
                display: flex;
                justify-content: center;
                &:nth-child(1){
                    align-items: flex-end;
                }
                @media all and (max-width: $small){
                    &:nth-child(2){
                        flex-direction: column;
                        align-items: center;
                    }
                }
                @media all and (max-width: $smaller){
                    &:nth-child(1){
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
            // 中層middle
            .worksMid{
                display: flex;
                &:nth-child(1){
                    flex-direction: column;
                }
                &:nth-child(2){
                    align-items: flex-start;
                }
                @media all and (max-width: $small){
                    &:nth-child(2){
                        display: none;
                    }
                }
            }
            // 裏層inside
            .worksIns{
                display: flex;
                &:nth-child(1){
                    justify-content: flex-end;
                }
                &:nth-child(2){
                    justify-content: flex-end;
                    align-items: flex-start;
                }
                @media all and (max-width: $small){
                    &:nth-child(2){
                        justify-content: center;
                    }
                }
                @media all and (max-width: $smaller){
                    flex-direction: column;
                    align-items: center !important;
                }
            }
            // 各個works區塊
            .worksBlock{
                margin: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                // 作品框worksFrame
                .worksFrame{
                    overflow: hidden;
                    box-shadow: $mediumShadow;
                    border-radius: $radius;
                    img{
                        width: 100%;
                    }
                    @media all and (max-width: $smaller){
                        width: 300px !important;
                        height: auto !important;
                    }
                }
                // 各作品works
                .works1{
                    width: 350px;
                    height: 250px;
                }
                .works2{
                    width: 300px;
                    height: 200px;
                }
                .works3{
                    width: 200px;
                    height: 200px;
                }
                .works4{
                    width: 300px;
                    height: 200px;
                }
                .works5{
                    width: 275px;
                    height: 200px;
                }
                .works6{
                    width: 265px;
                    height: 350px;
                }
                .works7{
                    width: 375px;
                    height: 280px;
                }
                // worksContent作品名稱
                .worksContent{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    line-height: $lineHeight;
                    transition: background-color 1s;
                    .decorationFrame_01{
                        width: 150px;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: opacity 1s;
                    }
                    .decorationFrame_02{
                        width: 180px;
                        opacity: 0;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        transition: opacity 1s;
                    }
                    .worksTitle,.worksText{
                        text-align: center;
                        position: absolute;
                        transition: 1s;
                        P{
                            font-size: $fzSmall;
                            font-weight: bold;
                            color: #fff;
                            text-shadow: $titleShadow;
                        }
                    }
                    .worksTitle{
                        opacity: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .mainTitle{
                            margin: 15px 2px 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                            .collectionFrame_06{
                                width: 12px;
                                transform: translateY(-2px);
                                // opacity: 0;
                            }
                        }
                        .collectionFrame_04,.collectionFrame_05{
                            width: 35px;
                            opacity: 0;
                        }
                    }
                    .worksText{
                        opacity: 0;
                    }
                }
                &:hover{
                    .worksContent{
                        background-color: $fcHover;
                        // .decorationFrame_01, .decorationFrame_02{
                        //     opacity: .4;
                        // }
                        .worksTitle{
                            opacity: 0;
                        }
                        .worksText{
                            opacity: 1;
                        }
                    }
                    @media all and (max-width: $smaller){
                        .worksContent{
                            background-color: unset;
                            .worksTitle{
                                opacity: unset;
                            }
                            .worksText{
                                display: none;
                            }
                        }
                    }

                }
                @media all and (max-width: 1039px){
                    margin: 10px;
                    // 各作品works
                    .works1{
                        width: 320px;
                        height: 250px;
                    }
                    .works2{
                        width: 270px;
                        height: 200px;
                    }
                    .works3{
                        width: 180px;
                        height: 180px;
                    }
                    .works4{
                        width: 280px;
                        height: 180px;
                    }
                    .works5{
                        width: 240px;
                        height: 180px;
                    }
                    .works6{
                        width: 240px;
                        height: 300px;
                    }
                    .works7{
                        width: 300px;
                        height: 240px;
                    }
                    
                }
                @media all and (max-width: $medium){
                    margin: 10px;
                    // 各作品works
                    .works1{
                        width: 280px;
                        height: 200px;
                    }
                    .works2{
                        width: 220px;
                        height: 160px;
                    }
                    .works3{
                        width: 160px;
                        height: 160px;
                    }
                    .works4{
                        width: 240px;
                        height: 160px;
                    }
                    .works5{
                        width: 200px;
                        height: 140px;
                    }
                    .works6{
                        width: 200px;
                        height: 260px;
                    }
                    .works7{
                        width: 240px;
                        height: 180px;
                    }
                    
                }
                @media all and (max-width: $small){
                    // 各作品works
                    .works1{
                        width: 280px;
                        height: 200px;
                    }
                    .works2{
                        width: 220px;
                        height: 160px;
                    }
                    .works3{
                        width: 200px;
                        height: 200px;
                    }
                    .works4{
                        width: 280px;
                        height: 200px;
                    }
                    .works5{
                        width: 220px;
                        height: 160px;
                    }
                    .works6{
                        width: 220px;
                        height: 280px;
                    }
                    .works7{
                        width: 240px;
                        height: 180px;
                    }
                    
                }
                @media all and (max-width: $smaller){
                    margin: 20px 10px;
                } 
            }
        }
        // 作品燈箱CollectionsLightBox
        .collectionsLightBoxBlock{
            width: 100%;
            height: 105%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 40;
            background-color: rgba($color: #000000, $alpha: .5);
            transform: translateY(-50px);
            opacity: 0;
            visibility: hidden;
            transition: .5s;
            .worksLightBoxBlock{
                min-width: 400px;
                padding: 5px 10px 45px;
                border-radius: $radius;
                display: none;
                position: relative;
                transform: translateY(-5%);
                box-shadow: $slightShadow;
                background-color: rgba($color: #fff, $alpha: 1.0);
                .worksLightBoxPart{
                    position: relative;
                    &:nth-child(2){
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    // cancel 取消
                    .cancelBlock{
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        top: 4px;
                        right: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: transform .5s;
                        .line{
                            width: 95%;
                            height: 4px;
                            box-shadow: $exLightShadow;
                            display: block;
                            position: absolute;
                            background-color:rgba($color: #fff, $alpha: 1.0);

                            &:nth-child(1){
                                transform: rotate(45deg);
                            }
                            &:nth-child(2){
                                transform: rotate(-45deg);
                            }
                        }
                        &:hover{
                            transform: rotate(90deg);
                        }
                    }
                    .lightBoxImage{
                        max-width: 500px;
                        box-shadow: $slightShadow;
                        border: 1px solid rgba($color: #000000, $alpha: .15);
                        img{
                            width: 100%;
                        }
                    }
                    .lightBoxContent{
                        width: 90%;
                        height: 75%;
                        padding: 15px;
                        border-radius: $radius;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        transition: background-color .5s;
                        &:hover{
                            background-color: rgba($color: #000000, $alpha: .1);
                        }
                        .lightBoxTitle{
                            margin: 5px 0 45px;
                            padding: 10px 5px;
                            display: flex;
                            align-items: center;
                            img{
                                width: 15px;
                            }
                            .mainTitle{
                                margin-right: 5px;
                                font-size: $fzLarge;
                                font-weight: bold;
                                text-shadow: $titleShadow;
                                color: #fff;
                            }
                        }
                        .lightBoxText{
                            padding: 0px 10px 20px;
                            p{
                                font-size: $fzSmall;
                                font-weight: bold;
                                text-shadow: $fontShadow;
                                color: #fff;
                                line-height: $lineHeight;
                            }
                        }
                    }
                }
                @media all and (max-width: $smaller){
                    min-width: 360px;
                }
            }
        }
        // 服務Services
        .services{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            overflow: hidden;
            .servicesPart{
                &:nth-child(1){
                    padding-left: 150px;
                    padding-top: 20px;
                    position: relative;
                    .servicesImageBlock{
                        width: 500px;
                        height: 500px;
                        margin: auto;
                        border-radius: 50%;
                        box-shadow: $slightShadow;
                        overflow: hidden;
                        display: flex;
                        position: relative;
                        .servicesImage{
                            width: 100%;
                        }
                        .coverBlock{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            background-color:$imageCover;
                            position: absolute;
                        }
                        @media all and (max-width: $smaller){
                            width: 320px;
                            height: 320px;
                        }
                    }
                    .servicesOptions{
                        padding-bottom: 40px;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        .servicesSelect{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .selectsImage{
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                                overflow: hidden;
                                box-shadow: $slightShadow;
                                filter: brightness(.75);
                                transition: .25s;
                            }
                            .active{
                                filter: brightness(1.05);
                            }
                            .servicesTitle{
                                margin-top: 5px;
                                font-size: $fzInfo;
                                font-weight: 400;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                &::after{
                                    content: "";
                                    font-size: 12px;
                                    position: absolute;
                                    top:20px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                            &:nth-child(1){
                                transform: translate(-150px,-300px);
                                .servicesTitle::after{
                                    content: "Wedding";
                                }
                            }
                            &:nth-child(2){
                                transform: translate(-220px,-135px);
                                .servicesTitle::after{
                                    content: "Marrying";
                                }
                            }
                            &:nth-child(3){
                                transform: translate(-220px,-20px);
                                .servicesTitle::after{
                                    content: "Partying";
                                }
                            }
                            &:nth-child(4){
                                transform: translate(-185px,25px);
                                .servicesTitle::after{
                                    content: "Opening";
                                }
                            }
                            @media all and (max-width: $medium){
                                transform: unset !important;
                                margin: 0 5px;
                            }
                            @media all and (max-width: $smaller){
                                .selectsImage{
                                    width: 75px;
                                    height: 75px;
                                }
                            }

                        }
                        @media all and (max-width: $medium){
                            margin-top: 45px;
                        }  
                    }
                    @media all and (max-width: $medium){
                        padding-left: unset;
                    }
                    @media all and (max-width: $small){
                        padding-top: 45px;
                    }
                }
                &:nth-child(2){
                    width: 200px;
                    margin: 40px 0;
                    align-self: flex-start;
                    position: relative;
                    .servicesContent{
                        position: absolute; 
                        top: 0;
                        visibility: hidden;
                        opacity: 0;
                        transform: translateX(50px);
                        transition: .5s;
                        &:nth-child(1){
                           visibility: visible;
                           opacity: 1;
                           transform: translateY(0px);
                        }
                        .servicesSubTitle{
                            width: 150px;
                            margin-top:20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transform: translateY(60px);
                            .mainTitle{
                                font-size: $fzMiddle;
                                font-weight: bold;
                                color: $fcGold;
                                text-shadow: $importantFontShadow;
                                margin-bottom: 5px;
                            }
                            .subTitle{
                                font-size: $fzInfo;
                                font-weight: bold;
                                color: #fff;
                                text-shadow: $titleShadow;
                            }
                            @media all and (max-width: $medium){
                                transform:translate(-55px,60px)
                            }
                            @media all and (max-width: $small){
                                margin-top: 0px;
                                position: absolute;
                                top: -20px;
                                right: -50px;
                                transform: unset;
                            }
                            @media all and (max-width: $smaller){
                                top: -30px;
                                right: -30px;
                            }
                        }
                        .servicesTextBlock{
                            width: 350px;
                            height: 350px;
                            border-radius: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            box-shadow: $exLightShadow;
                            background-color: rgba($color: #fff, $alpha: .65);
                            transform: translate(-100px,100px);
                            &::before{
                                content: "";
                                width: 90%;
                                height: 90%;
                                border-radius: 50%;
                                box-shadow: $exLightShadow;
                                background-color: rgba($color: #fff, $alpha: .65);
                                position: absolute;
                                right: 0;
                            }
                            .servicesText{
                                z-index: 2;
                                margin-bottom: 30px;
                                p{
                                    font-size: $fzInfo;
                                    line-height:$lineHeight;
                                }
                            }
                            @media all and (max-width: $medium){
                                transform: translate(-160px,100px);
                            }
                            @media all and (max-width: $small){
                                width: 300px;
                                height: 300px;
                                transform: translate(-160px,240px);
                            }
                            @media all and (max-width: $smaller){
                                width: 320px;
                                height: 320px;
                                padding-bottom: 20px;
                                background-color: unset;
                                transform: unset;
                                justify-content: flex-end;
                                &::before{
                                    content: "";
                                    display: none;
                                }
                                .servicesText{
                                    z-index: 2;
                                    margin-bottom: 30px;
                                    p{
                                        color: #fff;
                                        font-weight: bold;
                                        text-shadow: $titleShadow;
                                    }
                                }
                            }
                        }
                    }
                    @media all and (max-width: $small){
                        position: absolute;
                    }
                    @media all and (max-width: $smaller){
                        width: 100%;
                        // height: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }      
            }

        }
        // 活動Events
        .events{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            .eventsCardBlock{
                display: flex;
                justify-content: center;
                margin-bottom: 60px;
                .eventsCard{
                    width: 325px;
                    height: 450px;
                    margin: 0 20px;
                    padding-bottom: 20px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow:$slightShadow;
                    border-radius: $radius;
                    overflow: hidden;
                    background-color: #fff;
                    cursor: pointer;
                    transition: transform 1s ,box-shadow 1s;
                    &:hover{
                        transform: translateY(-6px);
                        box-shadow: $heavierShadow;
                        .cardImage img{
                            transform: scale(1.1);
                        }
                        .cardImage::after{
                            transform: translateY(0%);
                        }
                    }
                    .cardImage{
                        height: 65%;
                        position: relative;
                        z-index:5;
                        overflow: hidden;
                        border-radius: 0 0 45% 45%;
                        img{
                            width: 100%;
                            transition: transform 1s;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            z-index: 1;
                            left:0;
                            width: 100%;
                            height: 120%;
                            background-color: $fcHover;
                            opacity: .8;
                            transform: translateY(100%);
                            transition: transform 1s;
                        }
                    }
                    .cardContent{
                        margin-top: 10px;
                        line-height:$lineHeight;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .cardTitle{
                            width: 100%;
                            padding-bottom: 2px;
                            margin-bottom: 10px;
                            border-bottom: 2px solid rgba(0, 0, 0, .1);
                            font-weight: bold;
                            font-size: $fzMiddle;
                            text-align: center;
                            span{
                                font-weight: normal;
                                font-size: $fzInfo * .75;
                            }
                            .subTitle{
                                margin-left: 5px;
                                font-size: $fzSmall;
                            }
                            .eventsDate{
                                display: block;
                                margin-top: 5px;
                            }
                        }
                        .cardText{
                            width: 85%;
                            padding: 0 5%;
                            font-size: $fzInfo;
                        }
                    }
                }
                @media all and (max-width: 1150px){
                    .eventsCard{
                        width: 295px;
                        height: 400px;
                        margin: unset;
                        margin-right: 20px;
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
                @media all and (max-width: $medium){
                    display: block;
                    .eventsCard{
                        width: 600px;
                        height: 450px;
                        margin: unset;
                        margin-bottom: 60px;
                        padding-bottom: 0;
                        justify-content: flex-end;
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        .cardImage{
                            width: 100%;
                            height: unset;
                            position: absolute;
                            border-radius: unset;
                        }
                        .cardContent{
                            margin-bottom: 20px;
                            padding: 10px 0;
                            z-index: 10;
                            background-color: rgba($color: #fff, $alpha: .95);
                            box-shadow: $mediumShadow;
                        }
                    }
                }
                @media all and (max-width: $small){
                    .eventsCard{
                        width: 450px;
                    }
                }
                @media all and (max-width: $smaller){
                    .eventsCard{
                        width: 325px;
                        height: 420px;
                        padding-bottom: 0px;
                        .cardImage{
                            position: relative;
                            border-radius: 0 0 45% 45%;
                            &::after{
                                content: "";
                                display: none;
                            }
                        }
                        .cardContent{
                            margin: unset;
                            box-shadow: unset;
                        }
                    }
                }
            }
        }
        // 教學Teach 廣告橫幅
        .teachAds{
            width: 100%;
            margin-bottom: 60px;
            position: relative;
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                box-shadow: inset 0px 15px 30px -10px rgba($color: #000000, $alpha: .65);
                position: absolute;
                top: 0;
                z-index: 2;
            }
            .teachAdsBgImage{
                width: 100%;
                height: 450px;
                background-image: url(../img/index/teachAds/teachAdsBgIMage.jpg);
                background-size: cover;
                background-attachment: fixed;
            }
            .teachAdsContent{
                width: 100%;
                padding: 10px 0;
                position: absolute;
                top: 15%;
                left: 50%;
                transform: translateX(-50%);
                line-height: $lineHeight;
                text-align: center;
                p{
                    color: #fff;
                    font-size: $fzSmall;
                    font-weight: 700;
                    text-shadow: $fontShadow;
                }
            }
            .teachAdsBlock{
                width: 100%;
                display: flex;
                position: absolute;
                bottom: 0;
                z-index: 3;
                .teachAdsPart{
                    width: 50%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    // filter: brightness(.9);
                    // transition: filter .5s;
                    // cursor: pointer;
                    &::before{
                        content: '';
                        width: 95%;
                        height: 90%;
                        position: absolute;
                        border: 4px solid rgba($color: #fff, $alpha: .6);
                    }
                    .teachAdsTitle{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            color: #fff;
                            text-shadow: $titleShadow;
                            font-weight: bold;
                        }
                        .mainTitle{
                            font-size: $fzLarge;
                        }
                        .subTitle{
                            font-size: $fzSmall;
                            margin-left: 2px;
                        }
                    }
                    // &:hover{
                    //     filter: brightness(1.02);
                    // }
                }
            }
            @media all and (max-width: $small){
                .teachAdsBgImage{
                    height: 400px;    
                }
                .teachAdsContent{
                    width: 80%;
                    p{
                        font-size: $fzInfo;
                    }
                }
                .teachAdsBlock{
                    .teachAdsPart{
                        height: 150px;
                    }
                }
            }
            @media all and (max-width: $smaller){
                .teachAdsBgImage{
                    height: 320px;
                }
                .teachAdsBlock{
                    .teachAdsPart{
                        height: 120px;
                        &:nth-child(1){
                            img{
                                height: 100%;
                            }
                        }
                        &:nth-child(2){
                            img{
                                width: 100%;
                            }
                        }
                        .teachAdsTitle{
                            flex-direction: column;
                            .mainTitle{
                                font-size: $fzMiddle;
                                margin-bottom: 5px;
                            }
                            .subTitle{
                                font-size: $fzInfo;
                            }
                        }
                    }
                }
            }
            @media all and (max-width: $cellPhone){
                .teachAdsBgImage{
                    height: unset;
                    padding-top: 100%;
                }
                .teachAdsBlock{
                    .teachAdsPart{
                        img{
                            width: unset !important;
                            height: 100% !important;
                        }
                    }
                }
            }
        }
        // 關於AboutUs
        .aboutUs{
            width: 100%;
            // 副標題
            .aboutSubTitle{
                padding: 20px 0;
                margin: auto;
                text-align: center;
                .mainTitle{
                    font-size: $fzMiddle;
                    font-weight: bold;
                    color: $fcGold;
                    text-shadow: $importantFontShadow;
                    margin-bottom: 5px;
                }
                .subTitle{
                    font-size: $fzSmall;
                }
            }
            // InstagramWallBlock
            .igWallsBlock{
                display: flex;
                justify-content: center;
                .igWallsContent{   
                    .igWalls{
                        width: 900px;
                        display: flex;
                        .igWallsImage{
                            padding: 5px;
                            filter: brightness(.9);
                            transition:.25s;
                            img{
                                width: 100%;
                                box-shadow: $slightShadow;
                            }
                            &:hover{
                                filter: brightness(1.025);
                            }
                        }
                        .igWallsPart{
                            width: 100%;
                        }
                        &:nth-child(1){
                            .igWallsPart{
                                &:nth-child(2){
                                    display: flex;
                                    flex-wrap: wrap;
                                    .igWallsImage{
                                        width: 50%;
                                    }
                                }
                            }
                        }
                        &:nth-child(2){
                            .igWallsPart{
                                display: flex;
                                .igWallsImage{
                                    width: 25%;
                                }
                            }
                        }
                        @media all and (max-width:$medium){
                            width: 720px;
                        }
                        @media all and (max-width:$small){
                            width: 450px;
                            flex-direction: column;
                        }
                        @media all and (max-width:$smaller){
                            width: 350px;
                        }
                    } 
                }
            }
            // 地圖MapBlock
            .mapInfoBlock{ 
                display: flex;
                justify-content: center;
                background-color: rgba($color: #fff, $alpha: .6);
                .mapInfoPart{
                    width: 50%;
                    padding: 20px;
                    border: 2px solid rgba($color: #000000, $alpha: .1);
                    &:nth-child(1){
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right: 0px;
                        .mapBlock{
                            width: 350px;
                            height: 350px;
                        }
                    }
                    &:nth-child(2){
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .mapInfo{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin: 5px 0;
                            line-height: $lineHeight;
                            // studio工作室商標和名字
                            .studioLogo{
                                width: 200px;
                                img{
                                    width: 100%;
                                }
                            }
                            .studioName{
                                width: 180px;
                                transform: translate(15px,-6px);
                                img{
                                    width: 100%;
                                }
                                p{
                                    font-weight: bold;
                                    text-shadow: $fontShadow;
                                    padding-left: 20px;
                                    line-height: 1;
                                }
                            }
                            .mapInfoTitle{
                                margin-bottom: 4px;
                                color:$fcGold;
                                font-weight: bold;
                                text-shadow: $importantFontShadow;
                                span{
                                    font-size: $fzInfo * .875;
                                    color:$fcGold;
                                    margin-left: 5px;
                                } 
                            }
                            .mapInfoContent{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }
                            &:nth-child(3){
                                p{
                                    span{
                                        font-size: $fzInfo * .875;
                                        margin:0 2px ;
                                    }
                                    .days{
                                        margin: 0;
                                    }
                                }
                            }
        
                        }
                    }
                }
                @media all and (max-width:$small){
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .mapInfoPart{
                        width: 80%;
                        &:nth-child(1){
                            border-right: 2px solid rgba($color: #000000, $alpha: .1);
                            border-bottom: 0px;
                        }
                    }
                }
                @media all and (max-width:$smaller){
                    .mapInfoPart{
                        width: 100%;
                    }
                }
            }

        }

    }
}