// fontType
$fontFamily:"微軟正黑體";

// line-height
$lineHeight:1.5;

// fontSize
$fzLarge:28px;
$fzMiddle:24px;
$fzSmall:18px;
$fzInfo:16px;

// fontColor
$fcNormal:#676767;
$fcHover:rgba(254,235,227,.68);

$fcPink:#fcc0cc;
$fcBlue:#a9d8eb;
$fcGold:#c0a79a;

// backgroundImage
$bgImage:url("../img/element/");

// box-shadow
$importantFontShadow:0px 1px 2px rgba(255,255,255,1);
$fontShadow:0px 1px 2px rgba(0,0,0,.4); 
$titleShadow:1px 1px 2px rgba(0,0,0,.6);
 
$slightShadow:0px 2px 4px rgba(0,0,0,.4);
$mediumShadow:0px 2px 6px rgba(0,0,0,.4);
$heavierShadow:0px 4px 15px rgba(0,0,0,.4);

// border-radius
$radius: 2px;

// RWD : max-width
$medium:1023px;
$small:575px;