// fontType
$fontFamily:"微軟正黑體";

// fontSize
$fzLarge:28px;
$fzMiddle:24px;
$fzSmall:18px;
$fzInfo:16px;

// fontColor
$fcNormal:#676767;
$fcPink:#fef0f0;

// backgroundImage
$bgImage:url("../img/element/");

// box-shadow 
$slightShadow:0px 2px 4px rgba(0,0,0,.3);
$mediumShadow:0px 2px 10px rgba(0,0,0,.3);
$heavierShadow:0px 4px 15px rgba(0,0,0,.4);

// border-radius
$radius: 6px;